<div class="container" ng-controller="resultadosDirectiveController">
	<div class="table-responsive">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th class="text-center">
						<span>Id</span>
					</th>
					<th>
						<div class="input-group" >
							<input type="text" class="form-control input-sm" placeholder="Nombre" ng-model="busqueda">
							<span class="input-group-btn">
								<button class="btn btn-sm btn-default" type="button" ng-click="search()">
									<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
								</button>
							</span>
						</div>
					</th>
					<th class="text-center">
						<span>Departamento</span>
					</th>
					<th class="text-center">
						<span>Sueldo</span>
					</th>
					<th class="text-center">
						<span>Fecha de Nacimiento</span>
					</th>
					<th class="text-center">
						<span>Vencido</span>
					</th>
					<th class="text-center">
						<span>Habilidades</span>
					</th>
					<th class="text-center">
						<span>Debilidades</span>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="persona in personal | filter:busqueda:nombre">
					<th class="text-center" scope="row">{{persona.id}}</th>
					<td>{{persona.nombre}}</td>
					<td class="text-center">{{persona.departamento}}</td>
					<td class="text-center">{{persona.sueldo|currency}}</td>
					<td class="text-center">{{persona.fechaNacimiento|date:'dd-MMM-yyyy'}}</td>
					<td class="text-center">
						{{persona|vencido:persona.id:false}}
					</td>
					<td>
						<div class="text-center">
							<p>{{persona.habilidades.nombre}}</p>								
						</div>
					</td>
					<td>
						<form class="form-inline">
							<span ng-repeat="debilidad in persona.debilidades">
								{{debilidad.nombre}}
							</span>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>